.header {
  background-color: black;
}

.header_logo {
  width: 100px;

  margin: 10px 20px;
}
.searchBox {
  margin-top: 5px;
}

.logoutButton {
  font-size: 30px;
  position: relative;
  top: 10px;
}
.cartIcon {
  position: relative;
  top: 5px;
}
